@media screen and (orientation: landscape) {
  body {
    background-image: url("../../img/clearimg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: absolute;
    /* background-position: center; */
    }
    /* #video-background {
      position: fixed;
      left: 0;
      top: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -999;
    } */
    @keyframes moveimg {
      0% { left: 0px; top: 0px; transform: rotate(0deg);}
      100% { left: 0px; top: 230px; transform: rotate(360deg); }
  }

    #sample1{
      animation: moveimg 0.8s infinite;
      position: relative;

  }

  @keyframes moveimg2 {
    0% { left: 0px; top: 0px;transform: rotate(0deg);}
    100% { left: 0px; top: 230px; transform: rotate(360deg);}
}

  #sample2{
    animation: moveimg2 0.7s infinite;
    position: relative;

}
@keyframes moveimg3 {
  0% { left: 80px; top: 0px;transform: rotate(0deg);}
  100% { left: 80px; top: 230px; transform: rotate(360deg);}
}

#sample3{
  animation: moveimg3 0.5s infinite;
  position: relative;

}
@keyframes moveimg4 {
  0% { left: 90px; top: 0px;transform: rotate(0deg);}
  100% { left: 90px; top: 210px; transform: rotate(360deg);}
}

#sample4{
  animation: moveimg4 0.7s infinite;
  position: relative;

}
@keyframes moveimg5 {
  0% { left: 70px; top: 0px;transform: rotate(0deg);}
  100% { left: 80px; top: 200px;transform: rotate(360deg); }
}

#sample5{
  animation: moveimg5 0.8s infinite;
  position: relative;

}
@keyframes moveimg6 {
  0% { left: 35px; top: 0px;transform: rotate(0deg);}
  100% { left: 40px; top: 200px; transform: rotate(360deg);}
}

#sample6{
  animation: moveimg6 1s infinite;
  position: relative;

}

}
  @media screen and (orientation: portrait) {
    body {
      background-image: url("../../img/clearimg.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      position: absolute;
      /* background-position: center; */
      }
    /* #video-background {
      position: fixed;
      left: 0;
      top: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -999;
    } */
    @keyframes moveimg {
      0% { left: 0px; top: 0px;}
      100% { left: 0px; top: 10px; }
  }

    #sample1{
      animation: moveimg 1s infinite;
      position: relative;
      size: 5%;
  }

  @keyframes moveimg2 {
    0% { left: 0px; top: 0px;transform: rotate(0deg);}
    100% { left: 0px; top: 50px; transform: rotate(360deg);}
}

  #sample2{
    animation: moveimg2 1s infinite;
    position: relative;
    size: 6%;
}
@keyframes moveimg3 {
  0% { left: 80px; top: 0px;transform: rotate(0deg);}
  100% { left: 80px; top: 10px; transform: rotate(360deg);}
}

#sample3{
  animation: moveimg3 1s infinite;
  position: relative;
  size: 5%;
}
@keyframes moveimg4 {
  0% { left: 90px; top: 0px;transform: rotate(0deg);}
  100% { left: 90px; top: 10px; transform: rotate(360deg);}
}

#sample4{
  animation: moveimg4 1s infinite;
  position: relative;
  size: 4%;
}
@keyframes moveimg5 {
  0% { left: 70px; top: 0px;transform: rotate(0deg);}
  100% { left: 80px; top: 18px;transform: rotate(360deg); }
}

#sample5{
  animation: moveimg5 1s infinite;
  position: relative;
  size: 4%;
}
@keyframes moveimg6 {
  0% { left: 35px; top: 0px;transform: rotate(0deg);}
  100% { left: 40px; top: 15px; transform: rotate(360deg);}
}

#sample6{
  animation: moveimg6 1s infinite;
  position: relative;
  size: 4%;
}
}