
<<<<<<< HEAD

=======
>>>>>>> 210573cbba986e387ca57403941bde102b407642
body {
  background-image:url(../../img/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin:0;
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  user-select: none;
}

#button{
  display: flex;
}

#up,#right,#left,#down{
  background:#fbfaf9;
  width: 60px;
  height: 60px;
  opacity: 0.8;
  color: aliceblue;
}

<<<<<<< HEAD
=======


>>>>>>> 210573cbba986e387ca57403941bde102b407642
p{
  display: inline-block;
  margin-left: 55%;
  font-family: "HGP創英角ゴシックUB,MS UI Gothic標準";
}
#kaji{
  /* margin:18% 30% 80% 30%; */
  position: absolute;
  top: 25%;
  left: 51.5%;
  /* transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%); */
  z-index:-1;
}
/*
img{
  width: 100px;
  height: 100px;
} */


#outer{
  position:relative;
  height:100vh;
  width:100vw;
}
#mycanvas{
  /* width:100%; */
  display:block;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%) translateX(-50%);
<<<<<<< HEAD
	-webkit-transform: translateY(-50%) translateX(-50%);
=======
  -webkit-transform: translateY(-50%) translateX(-50%);
>>>>>>> 210573cbba986e387ca57403941bde102b407642
  opacity:0.9;
}
#arrows{
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  z-index: 1;
  margin: 0rem 2rem 0rem 2rem;
}
.arrow{
  padding: 0%;
  border-style: none;
}

div .arrow{
  display:inline-block;
  height:60px;
  width:60px;
}
