body {
  background-image:url(../../img/background.png);
  background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin:0;
}

 #button{
  display: flex;
}

#up,#right,#left,#down{
  background: blue;
  width: 60px;
  height: 60px;
  opacity: 0.8;
  color: aliceblue;
}
#taru{
  /* margin:18% 30% 80% 30%; */
  position: absolute;
  top: 25%;
  left: 30%;
  /* transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%); */
  z-index:-1;
}
/*
img{
  width: 100px;
  height: 100px;
} */


#outer{
 position:relative;
 height:100vh;
 width:100vw;
}
#mycanvas{
  /* width:100%; */
  display:block;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
}
#arrows{
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}

