@charset "utf-8";
canvas{
	position: absolute;
	user-select: none;
}
/* ↓横向きの場合のスタイル↓ */
@media screen and (orientation: landscape) {
	body {
	background-image: url("../../img/scratch1.png");
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-size: 100% 100%;
	}
	h2 {
	  margin: 7% 0% 0% 0%;
	  text-align:center;
	  font-size: 1.2em;
	}
	img {
	  width: 4%;
	  position: relative;
	  top: 3px;
	  left: 37%;
	  z-index: 10;
	}
	p {
	  position: absolute;
	  left: 378px;
	  bottom: 240px;
	  z-index: 20;
	  font-weight: 600;
	  font-size: 1.2em;
	}
  }
  
  /* ↓縦向きの場合のスタイル↓ */
  @media screen and (orientation: portrait) {
	body {
	background-image: url("../../img/scratch1.png");
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-size: 100% auto;
	background-position: center;
	}
	h2 {
	  margin: 95% 0% 0% 0%;
	  text-align: center;
	  font-size: 1.3em;
	}
	img {
	  width: 4%;
	  position: relative;
	  top: 3px;
	  left: 37%;
	  z-index: 10;
	}
	p {
	  position: absolute;
	  left: 38.5%;
	  bottom: 49.73%;
	  z-index: 20;
	  font-weight: 600;
	  font-size: 1.3em;
	}
  }
  